body {
  background-color:rgb(255, 255, 255);
  margin: 0px;
}

/* SEARCH BAR */
#search-wrapper {
  display: flex;
  padding: 12px 36px;
  max-width: 1400px;
  line-height:1.4;
  align-items: center;
  height: 48px;
  margin: 0 auto;
  justify-content: space-between;
}
#search-wrapper #etsy {
  width: 87px;
  margin-left: 10px;
  cursor:pointer;
}
#search-wrapper .search-input-wrapper {
  width: 1097.2px;
  display: flex;
}
#search-wrapper .search-input {
  border: 1px solid rgba(34, 34, 34, 0.5);
  background-color: rgba(34, 34, 34, 0.07);
  border-bottom-left-radius:96px;
  border-top-left-radius:96px;
  border-right-style:none;;
  box-sizing:border-box;
  width: 1036.2px;
  cursor:text;
  display:block;
  outline-style:none;
  font-size:16px;
  font-weight: 300;
  letter-spacing: 1px;
  height:48px;
  margin: 0px 0px 0px 3px;
  padding: 9px 42px 9px 18px;
}
#search-wrapper .search-input-button {
  border: 1px solid rgba(34, 34, 34, 0.5);
  background-color: rgba(34, 34, 34, 0.07);
  border-bottom-right-radius:96px;
  border-left-style:none;
  border-top-right-radius:96px;
  cursor:pointer;
  display:block;
  align-items:flex-start;
  font-weight:700;
  height:48px;
  outline-style:none;
  position:relative;
  width:61px;
  padding: 12px 21px 12px 15px;
}
#search-wrapper .search-input-button:hover {
  background-color: rgba(34, 34, 34, 0.15);
}
#search-wrapper .search-input-button-icon {
  width: 22px;
}
#search-wrapper .search-signin-button {
  border: 0px none rgb(34, 34, 34);
  display: block;
  height: 36px;
  width: 72.7969px;
  font-weight: 600;
  font-size: 13px;
  margin-right: 10px;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  outline: none;
  cursor: pointer;
}
#search-wrapper .search-signin-button:hover {
  border-radius:24px;
  background-color: rgba(34, 34, 34, 0.07);
}
#search-wrapper .cart-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
#search-wrapper .cart-wrapper:hover {
  border-radius:24px;
  background-color: rgba(34, 34, 34, 0.07);
}
#search-wrapper #cart {
  align-self: center;
  cursor: pointer;
  line-height: 16px;
  text-align: center;
  width: 46px;
  height: 38px;
}

/* MENU */
#menu-wrapper {
  display: flex;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}
#menu-wrapper .menu-list {
  color:rgb(34, 34, 34);
  display:flex;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
  height:34px;
  justify-content: space-between;
  line-height:18px;
  margin:0px;
  padding: 0px 34px;
  padding-inline-start:18px;
  width: 1400px;
}
#menu-wrapper #menu-item {
  color:rgb(34, 34, 34);
  cursor: pointer;
  display: inline;
  font-size: 13px;
  line-height:18px;
  letter-spacing: .5px;
}
#menu-wrapper .split {
  border-bottom-color:rgba(34, 34, 34, 0.15);
  border-bottom-style:solid;
  border-bottom-width:2px;
  bottom:0px;
  box-sizing:border-box;
  content:"";
  display:block;
  height:2px;
  left:0px;
  position:absolute;
  right:0px;
  width:1066px;
}
#menu-wrapper .divider {
  border: 1px solid rgba(34, 34, 34, 0.20);
  margin: 0
}

/* CONTENT */
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 20px;
}
.left-wrapper {
  grid-column-start: 2;
  grid-column-end: 9;
  margin-right: 20px
}
.right-wrapper {
  grid-column-start: 9;
  grid-column-end: 12;
  margin-right: 20px
}

/* FOOTER */
#footer-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  background-color:rgb(47, 70, 108);
}
#footer-wrapper .footer-list-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px
}
#footer-wrapper #footer-2 {
  width: 100%;
}
#footer-wrapper .footer-shop-wrapper, #footer-wrapper .footer-sell-wrapper, #footer-wrapper .footer-about-wrapper, #footer-wrapper .footer-help-wrapper {
  padding: 10px 30px;
}
#footer-wrapper .footer-shop-list, #footer-wrapper .footer-sell-list, #footer-wrapper .footer-about-list, #footer-wrapper .footer-help-list {
  list-style-type: none;
  margin: 5px 0px;
  padding: 0px;
}
#footer-wrapper .footer-label {
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:500;
}
#footer-wrapper .footer-item {
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
  cursor:pointer;
  letter-spacing: 1px;
}

/* SELLER */
#seller-service-container {
  margin-top: 20px;
  width: 387.75px;
  padding: 0px 30px 0px 0px;
}
#seller-service-container .shipping-wrapper {
  display: flex;
  flex-direction: row;
  height: 57px;
  /* justify-content: stretch; */
}
#seller-service-container .ready-to-ship {
  display: flex;
  flex-direction: column;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 57px;
}
#seller-service-container .ready-to-ship-time {
  font-family:Guardian-EgypTT, serif;
  font-size: 26px;
  font-weight:300;

  letter-spacing:0.35px
}
#seller-service-container .ship-from {
  display: flex;
  flex-direction: column;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
}
#seller-service-container .ship-from-location {
  font-family:Guardian-EgypTT, serif;
  font-size:26px;
  font-weight:300;
  height:96px;
  letter-spacing:0.35px
}
#seller-service-container .cost-to-ship {
  display: flex;
  flex-direction: column;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
}
#seller-service-container .cost-to-ship-amount {
  font-family:Guardian-EgypTT, serif;
  font-size:26px;
  font-weight:300;
  height:96px;
  letter-spacing:0.35px
}
#seller-service-container .delivery {
  font-family:Guardian-EgypTT, serif;
  font-size:26px;
  font-weight:300;
  height:96px;
  letter-spacing:0.35px
}

#seller-service-container img {
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}


#seller-service-container .message-username {
  border: 2px solid rgb(34, 34, 34);
  border-radius: 24px;
  cursor: pointer;
  outline-style:none;
  height:48px;
  width:432px;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:500;
}

#seller-service-container .user-profile {
  display: flex;
  margin-bottom: 15px

}
#seller-service-container .user-profile img {
  margin-right: 15px

}
#seller-service-container .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#seller-service-container .username {
  color:rgb(34, 34, 34);
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:300;
  margin-bottom: 2px
}
#seller-service-container .username-owner {
  color:rgb(89, 89, 89);
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
}
#seller-service-container a {
  text-decoration: underline;
}