body {
  background-color:rgb(255, 255, 255);
  padding: 0px 10px;
}

/* SEARCH BAR */
.search-wrapper {
  display: flex;
  padding: 12px 36px;
  max-width: 1400px;
  line-height:1.4;
  align-items: center;
  height: 48px;
  margin: 0 auto;
  justify-content: space-between;

}
#etsy {
  width: 87px;
  margin-left: 10px;
  cursor:pointer;


}
.search-input-wrapper {
  width: 1097.2px;
  display: flex;
}
.search-input {
  border: 1px solid rgba(34, 34, 34, 0.5);
  background-color: rgba(34, 34, 34, 0.07);
  border-bottom-left-radius:96px;
  border-top-left-radius:96px;
  border-right-style:none;;
  box-sizing:border-box;
  width: 1036.2px;
  cursor:text;
  display:block;
  outline-style:none;
  font-size:16px;
  font-weight: 300;
  letter-spacing: 1px;
  height:48px;
  margin: 0px 0px 0px 3px;
  padding: 9px 42px 9px 18px;
}
.search-input-button {
  border: 1px solid rgba(34, 34, 34, 0.5);
  background-color: rgba(34, 34, 34, 0.07);
  border-bottom-right-radius:96px;
  border-left-style:none;
  border-top-right-radius:96px;
  cursor:pointer;
  display:block;
  align-items:flex-start;
  font-weight:700;
  height:48px;
  outline-style:none;
  position:relative;
  width:61px;
  padding: 12px 21px 12px 15px;
}
.search-input-button:hover {
  background-color: rgba(34, 34, 34, 0.15);
}

.search-input-button-icon {
  width: 22px;
}

.search-signin-button {
  border: 0px none rgb(34, 34, 34);
  display: block;
  height: 36px;
  width: 72.7969px;
  font-weight: 600;
  font-size: 13px;
  margin-right: 10px;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  outline: none;
  cursor: pointer;

}
.search-signin-button:hover {
  border-radius:24px;
  background-color: rgba(34, 34, 34, 0.07);
}
.cart-wrapper:hover {
  border-radius:24px;
  background-color: rgba(34, 34, 34, 0.07);
}


#cart {
  cursor: pointer;
  line-height: 16px;
  text-align: center;
  width: 40px;
  height: auto;
  margin-right: 10px;
}
#cart:hover {
  border-radius:24px;
  background-color: rgba(34, 34, 34, 0.07);
}


/* MENU */
.menu-wrapper {
  display: flex;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}
.menu-list {
  color:rgb(34, 34, 34);
  display:flex;
  font-family:"Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:300;
  height:34px;
  justify-content: space-between;
  line-height:18px;
  margin:0px;
  padding: 0px 34px;
  padding-inline-start:18px;
  width: 1400px;
}
#menu-item {
  color:rgb(34, 34, 34);
  cursor: pointer;
  display: inline;
  font-size: 13px;
  line-height:18px;
  letter-spacing: .5px;
}

.split {
  border-bottom-color:rgba(34, 34, 34, 0.15);
  border-bottom-style:solid;
  border-bottom-width:2px;
  bottom:0px;
  box-sizing:border-box;
  content:"";
  display:block;
  height:2px;
  left:0px;
  position:absolute;
  right:0px;
  width:1066px;
}
.divider {
  border: 1px solid rgba(34, 34, 34, 0.20);
  margin: 0
}

/* CONTENT */
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 20px;
}
.left-wrapper {
  grid-column-start: 2;
  grid-column-end: 11;
  margin-right: 20px
}
